.scroll-object{
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object::-webkit-scrollbar {
    width: 12px;

}
.scroll-object::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.scroll-object::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3C6255;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.email{
    outline: none;
}



/* chat box */
body {
    background-color: #74EBD5;
  
    min-height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 500 px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
  